# System
.DS_Store

# Logs
logs
*.log

# Dependencies
.venv/
.env

# Build
dist/
site/
__pycache__/
*.py[cod]

# Tool caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Coverage
.coverage_cache/

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Extensions
.continue/
